<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>Collect Logmap</title>

    <!-- Bootstrap core CSS -->
    <!-- Bootswatch Yeti style: https://bootswatch.com/yeti/-->
    <link href="css/vendor/yeti-bootstrap/yeti-bootstrap.css" rel="stylesheet">
    <link href="bower_components/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/vendor/yeti-bootstrap/yeti-grid.css" rel="stylesheet">
    
    <!-- Mapbox css -->
    <link rel='stylesheet' href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel="stylesheet"/>
    
    <!-- Leaflet plugins -->
    <link rel='stylesheet' href='css/vendor/Leaflet.PanControl/L.Control.Pan.css' rel="stylesheet"/>
    <link rel='stylesheet' href='css/vendor/Leaflet.PanControl/L.Control.Pan.ie.css' rel="stylesheet"/>
    <!-- // coordinates lib -->
    <link rel='stylesheet' href='bower_components/parallel-coordinates/d3.parcoords.css' rel="stylesheet"/>


    <!-- Site css -->
    <link href="css/vis.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="data-loading">Data loading, wait few seconds ...</div>

    <div class="container" id="app">

      <div class="page-header">
        <h3><strong>Monitoring foodstuffs samples data collection & analysis workflow | Simulated dataset </strong></h3>
        <p class="lead">Visualize, explore and conduct gap analysis</p>
      </div>

      <!-- Summary statistics -->
      <!--
      <div class="row">
        <div class="col-md-12" id="data-summary-view">
          <hr>
          <div class="row" >
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <span class="data" id="selected"></span>measurements selected out of<span class="data" id="all"></span>from<span class="data" id="from"></span>to<span class="data" id="to"></span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-3">
                  Min: <span class="data" id="min"></span>
                </div>
                <div class="col-md-3">
                  Median: <span class="data" id="median"></span>
                </div>
                <div class="col-md-3">
                  Mean: <span class="data" id="mean"></span>
                </div>
                <div class="col-md-3">
                  Max: <span class="data" id="max"></span>
                </div>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
    -->
      
      <div class="row">
        <div class="col-md-4 section">
          <div class="title">Collected / Planned </div>
          <div class="content">
            <div class="map fill-placeholder" id="map-collected-vs-planned">
            </div>
           
          </div> 
        </div>  
        <div class="col-md-8 section" id="parallel-coodinates-view">
          <div class="title">Data collection & analysis profiles<a href="#" class="btn btn-default btn-xs pull-right reset">Reset</a></div>
          <div class="content parcoords" id="parallel-coordinates-chart">
          
          </div> 
        </div>

      </div>

      <div class="row">
        <div class="col-md-12 text-center" id="time-emulator-view">
          <a href="#" class="btn btn-primary btn-sm play"> <span class="glyphicon glyphicon-play" aria-hidden="true"></span> <span class="status">Play</span> <span class="badge"></span></a>
        </div>
      </div>

       <div class="row">
         <div class="col-md-4 section">
          <div class="title">Collected / Collectors </div>
          <div class="content">
            <div class="map fill-placeholder" id="map-collected-vs-collectors">
            </div>
          </div> 
        </div>

        <div class="col-md-4 section">
          <div class="title">Analysed / Collected </div>
          <div class="content">
            <div class="map fill-placeholder" id="map-analysed-vs-collected">
            </div>
          </div> 
        </div>

        <div class="col-md-4 section">
          <div class="title">Analysed / Labs </div>
          <div class="content">
            <div class="map fill-placeholder" id="map-analysed-vs-labs">
            </div>
        
          </div> 
        </div>
      </div>

      <!-- Footer -->
      <div class="row">
        <div class="col-md-12" id="footer">
          <hr>
          <div class="row">
            <div class="col-md-5">
              <ul>
                <li><h3>Sources</h3></li>
                <li>Simulated dataset</li>
                <li>Natural Earth</li>
                <li>OpenStreetMap</li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul>
                <li><h3>Credits</h3></li>
                <li>Mapbox.js</li>
                <li>D3.js</li>
                <li>Parallel coordinates (Syntagmatic)</li>
                <li>Backbone.js</li>
                <li>Twitter Bootstrap</li>
                <li>underscore.js</li>
              </ul>
            </div>
            <div class="col-md-3">
            <ul class="pull-right">
              <li><h3>Author(s)</h3></li>
              <li>Franck Albinet</li>
            </ul>
            </div>
          </div>
        </div>
      </div> 
    </div> <!-- /container -->


    <!-- data list items template -->
    <script type="text/template" class="data-list-items">
      <% _.each(data, function(item) { %>
        <tr class="measurement">
          <td><%=item.type%></td>
          <td><%=item.substance%></td> 
          <td><%=item.date%></td>
          <td><%=item.dose%></td>
          <td class="lat"><%=item.lat%></td>
          <td class="lon"><%=item.lon%></td>
        </tr>
      <% }); %>
    </script>

    <!-- foodstuffs items template -->
    <script type="text/template" class="foodstuffs-items">
      <% _.each(data, function(item) { %>
        <option data-count="<%=item.count%>" value="<%=item.optValue%>"><%=item.name%></option>
      <% }); %>
    </script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->

    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
    <script src='js/vendor/L.Control.Pan.js'></script>
    <script src='js/vendor/Control.MiniMap.js'></script>

    <script src="bower_components/d3/d3.min.js"></script>
    <!--
    <script src="js/d3-plugins/my-barchart.js"></script>
    <script src="js/d3-plugins/my-histogram.js"></script>
    <script src="js/d3-plugins/my-rowchart.js"></script>
    <script src="js/d3-plugins/my-hexbin-layer.js"></script>
    <script src="js/d3-plugins/my-legend-choropleth.js"></script>
    <script src="js/d3-plugins/vendor/hexbin.js"></script>
    -->
    <script src="http://d3js.org/queue.v1.min.js"></script>
    <script src="bower_components/crossfilter/crossfilter.min.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src='bower_components/bootstrap-multiselect/dist/js/bootstrap-multiselect.js'></script>
    <script src='bower_components/parallel-coordinates/d3.parcoords.js'></script>
    <script src="js/app.js"></script>
    <script src="js/models/app-model.js"></script>
    <script src="js/views/app-view.js"></script>
    <script src="js/views/map-view.js"></script>
    <script src="js/views/time-emulator-view.js"></script>
    <script src="js/views/parallel-coordinates-view.js"></script>
    <script src="js/routers/app-router.js"></script>
    <script src="js/collections/app-collection.js"></script>
    <!--
    <script src="js/views/substance-type-view.js"></script>
    <script src="js/views/hist-concentration-view.js"></script>
    <script src="js/views/count-time-view.js"></script>
    <script src="js/views/foodstuff-type-view.js"></script>
    <script src="js/views/data-summary-view.js"></script>
    <script src="js/views/data-list-view.js"></script>
    -->
   
    <script>
      Vis.initialize();    
    </script>
  </body>
</html>